*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
    box-sizing: content-box;
}
#logo{
vertical-align: middle;
}
#logo-text{
    font-size:20px;
    font-weight: bold;
    vertical-align: middle;
}
header{
    background-color: #fff;
    padding: 10px 0 10px 20px;
}